<%include ./navbaradmin%>

<div class="container">
    <div class="row">
        <div class="col-lg-6 text-center p-4">
            <i class="fas fa-user-plus" style="font-size: 40px;"></i>
            <h4 style="color:#828BB2 ;">Buat Akun</h4>
            <a href="/admin/buatakun/guru" class="btn " style="width: 40%; color:#ccc ; background-color: #18225D;">Guru</a>
            <a href="/admin/buatakun/siswa" class="btn " style="width: 40%; color:#ccc ; background-color: #18225D;">Siswa</a>
        </div>
        <div class="col-lg-6 text-center p-4">
            <i class="fas fa-user-cog" style="font-size: 40px;"></i>
            <h4 style="color:#828BB2 ;">Kelola Akun</h4>
            <a href="/admin/kelolaakun/guru" class="btn " style="width: 40%; color:#ccc ; background-color: #18225D;">Guru</a>
            <a href="/admin/kelolaakun/siswa" class="btn " style="width: 40%; color:#ccc ; background-color: #18225D;">Siswa</a>
        </div>
        <div class="col-lg-6 text-center p-4">
            <i class="fas fa-school" style="font-size: 40px;"></i>
            <h4 style="color:#828BB2 ;">Jadwal Mengajar</h4>
            <a href="/admin/buatjadwal/guru" class="btn " style="width: 40%; color:#ccc ; background-color: #18225D;">Buat Jadwal</a>
            <a href="/admin/kelolajadwal/guru" class="btn " style="width: 40%; color:#ccc ; background-color: #18225D;">Kelola Jadwal</a>
        </div>

    </div>
</div>