<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #18225D;">
    <a class="navbar-brand" href="#">
      <img src="/images/LOGO.jpg" style="width: 50px;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard"> <h4 style="color:#ccc ;"><i class="fas fa-home" ></i> Dashboard</h4></a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#"><h4 style="color:#ccc ;"><i class="fas fa-user-circle"></i> Admin</h4></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/logout"> <h4 style="color:#ccc ;">Logout <i class="fas fa-sign-out-alt"></i></h4></a>
        </li>
      </ul>
    </div>
  </nav>